<h1>Admin Dashboard</h1>
<% if current_user.admin? %>
  <%= link_to 'Back', home_index_path %>
<% end %>

<table class="table">
  <thead>
    <%= render './home/nav'%>
  </thead>
  <tbody>
    <%= render './home/listing' %>
  </tbody>
</table> 
